body{
    background-color: #eee;
    color: #333;
    margin: 0;
    padding: 0;
    display: block;
    font-family: Georgia;
}
.inner::before{
    display: table;
    content: "";
}
#githubLink{
    position:absolute;
    right: 0;
    top: 0;
}
p{
    line-height: 22px;
}
.infinite-canvas-example canvas{
    display: inline-block;
    width:400px;
    height: 400px;
    border: 1pt solid #eee;
}
.example-editor{
    vertical-align: top;
    width:400px;
    height: 370px;
    display: inline-block;
}
.inner{
    position: relative;
    width: 940px;
    margin: 0 auto;
    overflow: visible;
    background-color: #fff;
    padding: 20px;
}