<html>
<head>
	<script type="text/javascript" src="infinite-canvas.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue?a"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<template id="exampleTemplate">
		<div class="example">
			<div class="column regular-canvas">
				<canvas width="200" height="200" ref="canvas"></canvas>
			</div>
			<div class="column infinite-canvas">
				<canvas width="200" height="200" ref="infiniteCanvas"></canvas>
			</div>
			<div class="column code">
				<div class="line" v-for="line in lines">{{line}}</div>
			</div>
		</div>
		
	</template>
	<div id="main">
		<example v-for="example in examples" v-bind:example="example"></example>
	</div>
	<script type="text/javascript">
		new Vue({
			el:"#main",
			data:function(){
				return {
					examples:[
						{
							code:function(context){
								context.fillStyle = "#f00";
								context.fillRect(10, 10, 20, 20);
							}
						}
					]
				};
			},
			components:{
				'example':{
					template: document.getElementById("exampleTemplate").innerHTML,
					props:{
						example: Object
					},
					data:function(){
						return {
							lines: []
						};
					},
					mounted:function(){
						var canvas = this.$refs.canvas;
						var regularContext = canvas.getContext("2d");
						var infCanvas = this.$refs.infiniteCanvas;
						var infiniteContext = new InfiniteCanvas(infCanvas).getContext();
						var functionMatch = this.example.code.toString().match(/^\s*function\s*\([^)]*\)\s*\{([\w\W]*?)\}\s*$/);
						this.lines = functionMatch[1].match(/[^\s][^\r\n]*/g);

						//this.codeText = lines.join("<br/>");
						//console.log(this.codeText.match(/[^\s][^\r\n]*/g));
						this.example.code(regularContext);
						this.example.code(infiniteContext);
					}
				}
			}
		});
	</script>
</body>
</html>