body{
	background-color: #333;
	color: #ddd;
}
.example{
	margin-bottom: 30px;
}
.example .column{
	display: inline-block;
	vertical-align: top;
}
.code{
	width: 300px;
	height: 300px;
}
canvas{
	border: 1pt solid #000;
}