<html>
<head>
	<meta 
	name='viewport' 
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
	<script type="text/javascript" src="infinite-canvas.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue?a"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<template id="exampleTemplate">
		<div class="example">
			<div class="column regular-canvas">
				<canvas width="400" height="400" ref="canvas"></canvas>
			</div>
			<div class="column infinite-canvas">
				<canvas width="400" height="400" ref="infiniteCanvas"></canvas>
			</div>
			<div class="column">
				<div ref="code" class="code"></div>
				<input type="checkbox" v-model="rotationEnabled"/>
				<label>rotation enabled</label>
				<input type="checkbox" v-model="greedyGestureHandling"/>
				<label>greedy gesture handling</label> 
			</div>
		</div>
		
	</template>
	<div id="main">
		<example v-for="example in examples" v-bind:example="example"></example>
	</div>
	<script type="text/javascript">
		new Vue({
			el:"#main",
			data:function(){
				return {
					examples:[
						{
							code:function(ctx){
								ctx.fillStyle = 'green';
								ctx.fillRect(20, 10, 150, 100);
							}
						},
						{
							code:function(ctx){
								ctx.strokeStyle = 'green';
								ctx.strokeRect(20, 10, 160, 100);
							}
						},
						{
							code:function(ctx){
								// Draw yellow background
								ctx.beginPath();
								ctx.fillStyle = '#ff6';
								ctx.fillRect(0, 0, 200, 200);

								// Draw blue triangle
								ctx.beginPath();
								ctx.fillStyle = 'blue';
								ctx.moveTo(20, 20);
								ctx.lineTo(180, 20);
								ctx.lineTo(130, 130);
								ctx.closePath();
								ctx.fill();

								// Clear part of the canvas
								ctx.clearRect(10, 10, 120, 100);
							}
						}
					]
				};
			},
			components:{
				'example':{
					template: document.getElementById("exampleTemplate").innerHTML,
					props:{
						example: Object
					},
					data:function(){
						return {
							rotationEnabled: false,
							greedyGestureHandling: false,
							infiniteCanvas: undefined
						};
					},
					watch:{
						rotationEnabled:function(v){
							this.infiniteCanvas.rotationEnabled = v;
						},
						greedyGestureHandling: function(v){
							this.infiniteCanvas.greedyGestureHandling = v;
						}
					},
					mounted:function(){
						var canvas = this.$refs.canvas;
						var regularContext = canvas.getContext("2d");
						var infCanvas = this.$refs.infiniteCanvas;
						this.infiniteCanvas = new InfiniteCanvas(infCanvas);
						this.rotationEnabled = this.infiniteCanvas.rotationEnabled;
						this.greedyGestureHandling = this.infiniteCanvas.greedyGestureHandling;
						var infiniteContext = this.infiniteCanvas.getContext();
						var functionMatch = this.example.code.toString().match(/^\s*function\s*\([^)]*\)\s*\{([\w\W]*?)\}\s*$/);
						var code = functionMatch[1].match(/[^\s][^\r\n]*/g).join("\r\n");
						var editor = ace.edit(this.$refs.code);
						editor.setTheme("ace/theme/monokai");
						editor.session.setMode("ace/mode/javascript");
						editor.setValue(code);
						//editor.setReadOnly(true);
						//this.codeText = lines.join("<br/>");
						//console.log(this.codeText.match(/[^\s][^\r\n]*/g));
						this.example.code(regularContext);
						this.example.code(infiniteContext);
					}
				}
			}
		});
	</script>
</body>
</html>