body{
	font-family: monospace;
	color: #333;
}
.darklight{
	cursor: pointer;
}
.example-title{
	font-size: 16px;
}
.warning{
	background-color: rgba(255, 200, 0, 0.5)
}
.danger{
	background-color: rgba(255, 0, 0, 0.5)
}
body.dark{
	background-color: #333;
	color: #ddd;
}
#light{
	display: none;
}
body.dark #light{
	display: initial;
}
body.dark #dark{
	display: none;
}
.example{
	margin-bottom: 30px;
}
.example .column{
	display: inline-block;
	vertical-align: top;
}
.code{
	width: 300px;
	height: 300px;
}
canvas{
	border: 1pt solid #000;
}