.darklight{
	cursor: pointer;
}
body.dark{
	background-color: #333;
	color: #ddd;
}
#light{
	display: none;
}
body.dark #light{
	display: initial;
}
body.dark #dark{
	display: none;
}
.example{
	margin-bottom: 30px;
}
.example .column{
	display: inline-block;
	vertical-align: top;
}
.code{
	width: 300px;
	height: 300px;
}
canvas{
	border: 1pt solid #000;
}