<html>
<head>
	<meta 
	name='viewport' 
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
	<script type="text/javascript" src="infinite-canvas.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue?a"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<template id="exampleTemplate">
		<div class="example">
			<div class="column regular-canvas">
				<canvas width="400" height="400" ref="canvas"></canvas>
			</div>
			<div class="column infinite-canvas">
				<canvas width="400" height="400" ref="infiniteCanvas"></canvas>
			</div>
			<div class="column">
				<div ref="code" class="code"></div>
				<input type="checkbox" v-model="rotationEnabled"/>
				<label>rotation enabled</label>
				<input type="checkbox" v-model="greedyGestureHandling"/>
				<label>greedy gesture handling</label> 
			</div>
		</div>
		
	</template>
	<div id="main">
		<example v-for="example in examples" v-bind:example="example"></example>
	</div>
	<script type="text/javascript">
		(function(){
			var functionLinePattern = "([^\\r\\n]*?)([^\\s][^\\r\\n]*)";
			function getLinesFromFunction(f){
				var functionMatch = f.toString().match(/^\s*function\s*\([^)]*\)\s*\{([\w\W]*?)\}\s*$/);
				var lines = functionMatch[1].match(new RegExp(functionLinePattern, "g"));
				var lineRegExp = new RegExp("^" + functionLinePattern + "$");
				var matchedLines = lines.map(function(l){return l.match(lineRegExp);});
				var minIndentLength = Math.min.apply(null, matchedLines.map(function(l){return l[1].length;}));
				return lines.map(function(l){return l.substring(minIndentLength);})
			}
			var examples = [
						{
							code:function(ctx){
								ctx.fillStyle = 'green';
								ctx.fillRect(20, 10, 150, 100);
							}
						},
						{
							code:function(ctx){
								ctx.strokeStyle = 'green';
								ctx.strokeRect(20, 10, 160, 100);
							}
						},
						{
							code:function(ctx){
								// Draw yellow background
								ctx.beginPath();
								ctx.fillStyle = '#ff6';
								ctx.fillRect(0, 0, 200, 200);

								// Draw blue triangle
								ctx.beginPath();
								ctx.fillStyle = 'blue';
								ctx.moveTo(20, 20);
								ctx.lineTo(180, 20);
								ctx.lineTo(130, 130);
								ctx.closePath();
								ctx.fill();

								// Clear part of the canvas
								ctx.clearRect(10, 10, 120, 100);
							}
						},
						{
							code:function(ctx){
								ctx.strokeStyle = 'green';
								ctx.strokeRect(50, 40, 80, 80);
								ctx.lineWidth = 2;
								ctx.strokeRect(20, 10, 160, 100);
								ctx.lineWidth = 4;
								ctx.strokeRect(30, 20, 100, 160);
							}
						},
						{
							code: function(ctx){
								ctx.lineWidth = 15;

								ctx.beginPath();
								ctx.moveTo(20, 20);
								ctx.lineTo(130, 130);
								ctx.rect(40, 40, 70, 70);
								ctx.stroke();
							}
						},
						{
							code:function(ctx){
								ctx.beginPath();
								ctx.setLineDash([5, 15]);
								ctx.moveTo(0, 50);
								ctx.lineTo(300, 50);
								ctx.stroke();

								// Solid line
								ctx.beginPath();
								ctx.setLineDash([]);
								ctx.moveTo(0, 100);
								ctx.lineTo(300, 100);
								ctx.stroke();
							}
						},
						{
							code:function(ctx){
								ctx.setLineDash([4, 16]);

								// Dashed line with no offset
								ctx.beginPath();
								ctx.moveTo(0, 50);
								ctx.lineTo(300, 50);
								ctx.stroke();

								// Dashed line with offset of 4
								ctx.beginPath();
								ctx.strokeStyle = 'red';
								ctx.lineDashOffset = 4;
								ctx.moveTo(0, 100);
								ctx.lineTo(300, 100);
								ctx.stroke();
							}
						},
						{
							code: function(ctx){
								let offset = 0;

								function draw() {
									ctx.clearRect(0, 0, 200, 200);
									ctx.setLineDash([4, 2]);
									ctx.lineDashOffset = -offset;
									ctx.strokeRect(10, 10, 100, 100);
								}

								function march() {
									offset++;
									if (offset > 16) {
										offset = 0;
									}
									draw();
									setTimeout(march, 20);
								}

								march();
							},
						},
						{
							code: function(ctx){
								// First path
								ctx.beginPath();
								ctx.strokeStyle = 'blue';
								ctx.moveTo(20, 20);
								ctx.lineTo(200, 20);
								ctx.stroke();

								// Second path
								ctx.beginPath();
								ctx.strokeStyle = 'green';
								ctx.moveTo(20, 20);
								ctx.lineTo(120, 120);
								ctx.stroke();
							}
						},
						{
							code: function(ctx){
								// Save the default state
								ctx.save();

								ctx.fillStyle = 'green';
								ctx.fillRect(10, 10, 100, 100);

								// Restore the default state
								ctx.restore();

								ctx.fillRect(150, 40, 100, 100);
							}
						},
						{
							code: function(ctx){
								ctx.fillStyle = "#f00";
								ctx.beginPath();
								ctx.moveTo(30,30);
								ctx.lineTo(30,100);
								ctx.lineTo(100,100);
								ctx.fill();
								ctx.strokeStyle = "#00f";
								ctx.lineTo(100,30);
								ctx.stroke();
							}
						},
						{
							code: function(ctx){
								ctx.fillStyle = "#f00";
								ctx.fillRect(10, 10, 20, 20);
								ctx.fillStyle = "#00f";
								ctx.clearRect(20, 0, 40, 40);
								ctx.fillRect(30, 10, 10, 10);
							}
						}
					];
			new Vue({
				el:"#main",
				data:function(){
					var exaplesToShow = examples;
					if(exaplesToShow.find(function(e){return e.focussed;})){
						exaplesToShow = exaplesToShow.filter(function(e){return e.focussed;});
					}
					exaplesToShow = exaplesToShow.filter(function(e){return !e.excluded;});
					return {
						examples:exaplesToShow
					};
				},
				components:{
					'example':{
						template: document.getElementById("exampleTemplate").innerHTML,
						props:{
							example: Object
						},
						data:function(){
							return {
								rotationEnabled: false,
								greedyGestureHandling: false,
								infiniteCanvas: undefined
							};
						},
						watch:{
							rotationEnabled:function(v){
								this.infiniteCanvas.rotationEnabled = v;
							},
							greedyGestureHandling: function(v){
								this.infiniteCanvas.greedyGestureHandling = v;
							}
						},
						mounted:function(){
							var canvas = this.$refs.canvas;
							var regularContext = canvas.getContext("2d");
							var infCanvas = this.$refs.infiniteCanvas;
							this.infiniteCanvas = new InfiniteCanvas(infCanvas);
							this.rotationEnabled = this.infiniteCanvas.rotationEnabled;
							this.greedyGestureHandling = this.infiniteCanvas.greedyGestureHandling;
							var infiniteContext = this.infiniteCanvas.getContext();
							var code = getLinesFromFunction(this.example.code).join("\r\n");
							var editor = ace.edit(this.$refs.code);
							editor.setTheme("ace/theme/monokai");
							editor.session.setMode("ace/mode/javascript");
							editor.setValue(code);
							editor.clearSelection();
							//editor.setReadOnly(true);
							//this.codeText = lines.join("<br/>");
							//console.log(this.codeText.match(/[^\s][^\r\n]*/g));
							this.example.code(regularContext);
							this.example.code(infiniteContext);
						}
					}
				}
			});
		})();
		
	</script>
</body>
</html>