body{
    font-family: monospace;
    color: #333;
}
body.dark{
	background-color: #333;
	color: #ddd;
}
a{
	color:inherit;
	text-decoration: none;
}
.darklight{
	cursor: pointer;
}
#light-button{
    display: none;
}
body.dark #light-button{
    display: initial;
}
body.dark #dark-button{
    display: none;
}
.option{
	padding: 5px;
	border-color: rgba(0, 255, 100, 0.5);
	border-width: 1px;
	border-style: solid;
	width:200px;
	display: inline-block;
}
.block{
    display: inline-block;
    vertical-align: top;
}
#code{
    width: 600px;
    height: 400px;
}
#run{
    font-family: monospace;
    color: #333;
    margin: 20px;
    padding: 10px;
}
.canvas-block{
    resize: both;
    overflow: auto;
    border: 1pt solid #000;
    width: 600px;
    height: 600px;
}
canvas{
    width: 99%;
    height: 99%;
}