:root{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
canvas{
    width: 400px;
    height: 400px;
}
.canvas-element-container{
    
    border: 1px solid #000;
}
.canvas-container{
    display: inline-block;
}